/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*body*/

body {
    font-size: $baseFontSize;
    font-family: $fontFamily;
    font-weight: $baseFontWeight;
}


/*header*/

/*if using a wrapper, add:
div#headerWrapper {} */ 


header {
    background-color: $mainColor;
    padding: 1rem $gutter;

    h1 {
        font-weight: $boldWeight;
        color: #ffffff;
        margin: 0;
    }
    h2 {
        font-weight: $baseFontWeight;
        color: #ffffff;
        margin: 0 0;
    }
} //end header

/*navigation: this sets up four menu items 25% wide*/ 

/*If using a wrapper, add div#navWrapper{}*/ 

nav {
    background-color: $secondColor;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color:lighten($secondColor, 10%);
    color: $textColor;
    border-left: 1px solid #aaa;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: lighten($secondColor, 20%);
    color: #333;
}
nav ul li.active a {
    background-color: darken($secondColor, 40%);
    color: #fff;
}

/*main*/ 

/*If using a wrapper, add div#mainWrapper{}*/ 

main {
    padding: 1rem 0;
}

/* template for hero image: 
main figure.hero {
    width: 100%;
    margin: 0;
}

main figure.hero img {
    width: 100%;
}*/

main h1 {
    font-weight: $boldWeight;
    margin: 0;
    padding: 0 $gutter;
}

div.bandGallery {
    display: flex;
    flex-wrap: wrap;
    
    article {
        flex-basis:100%;
        padding: 0 $gutter;

        h2 {margin-bottom: 0;} //end h2 in article

        p {margin-top: 0;} //end p in article

        figure.drummer {
            float: right;
            margin: 0;
            shape-outside: circle(50% at 50% 50%);
                      
            img {
                width: 100%;
                clip-path: circle(50% at 50% 50%);
                margin: .5rem;
            } //end img
        } //end figure

        figure.singer {
            float: right;
            margin: 0;
            shape-outside:polygon(50% 0, 100% 100%, 0 100%);
            
            img {
                width: 100%;
                clip-path: polygon(50% 0, 100% 100%, 0 100%);
                margin: .5rem;
            } //end img
        } //end figure

        figure.guitar {
            float: right;
            margin: 0;
            shape-outside:  polygon(0 0, 100% 0, 100% 100%);
        
            img {
                width: 100%;
                clip-path: polygon(0 0, 100% 0, 100% 100%);
                margin: .5rem;
            } //end img
        } //end figure

        figure.backup {
            float: right;
            margin: 0;
            shape-outside: circle(100% at 100% 0);
          
            img {
                width: 100%;
                clip-path: circle(100% at 100% 0);
                margin: .5rem;
            } //end img
        } //end figure

    }//end article
} // end bandGallery

h2.performances {
    padding: 0 $gutter;
}

section.concertGallery figure {
    width: 100%;
    height: 0;
    padding-bottom: 60%; /* You define this doing image height / width * 100% */
    position: relative;
    margin: 0;
}
section.concertGallery figure img {
    width: 100%;
    height: auto;
    position: absolute;
}

/*footer*/ 

/*If using a wrapper, add div#footerWrapper{}*/ 

footer {
    background-color: $mainColor;
    padding: .5rem $gutter;
    text-align: center;
    color:#ffffff;
    a {
    text-decoration: none;
    color:#ffffff;
    }
}

/*clearfix: so that elements don't colapse*/ 
.clearfix:after {
    content: "";
  display: table;
  clear: both;
}