/*font info*/ 
$fontFamily: 'Karla', sans-serif;
$baseFontWeight: 400;
$boldWeight: 700;
$baseFontSize: 16px;

/*Colors*/
$mainColor: #C90A03;
$secondColor: #98b8d1;
$textColor: #050505;

$gutter: 2%;
