/*font info*/ 
$fontFamily: 'Montserrat', sans-serif;
$baseFontWeight: 400;
$boldWeight: 700;
$baseFontSize: 16px;

/*Colors*/
$mainColor: #fff;
$textColor: #303030;
$negativeTextColor: #fff;

$gutter: 2%;
