/* body*/ 

/*header*/ 

/*navigation for tablet, desktop */ 

 main {
    max-width: 64rem;
    margin:auto;
}
/* main */ 

main {
    div#inventoryWrapper {
        grid-template-columns: 1fr 1fr;
    } // end wrapper, changing grid for medium screens
} // end main 