/*font info*/ 
$fontFamily: 'Montserrat', sans-serif;
$baseFontWeight: 400;
$boldWeight: 700;
$baseFontSize: 16px;

/*Colors*/
$mainColor:#91B7D0;
$textColor: #303030;
$accentColor: #F6F1EE;

$gutter: 2%;
