/*font info*/ 
$fontFamily: 'Noto Sans', sans-serif;
$baseFontWeight: 400;
$boldWeight: 700;
$baseFontSize: 16px;

/*Colors*/
$mainColor: #80D1E1;
$accentColor: #523c86;
$textColor: #303030;

$gutter: 2%;
