/*font info*/ 
$fontFamily: 'Roboto', sans-serif;
$baseFontWeight: 400;
$boldWeight: 700;
$baseFontSize: 16px;

/*Colors*/
$mainColor: #CAE8FA;
$accentColor: #FAB95F;
$textColor: #303030;

$gutter: 2vw;
