$primaryColor: #dadcdf;
$textColor: #505050;


//these two variables control the background color and text color
$menuColor: #457F3C;
$menuTextColor: rgba(255,255,255,0.9);

$gutter: 2%;

$baseFontSize: 16px;