/*font info*/ 
$fontFamily: "Lato", sans-serif;
$baseFontWeight: 400;
$boldWeight: 700;
$baseFontSize: 16px;

/*Colors*/
$mainColor:#ccccd0;
$textColor: #303030;
$secondColor: #d40000;
$accentColor: #233251;

$gutter: 1vw;
