/*font info*/ 
$fontFamily: "Public Sans", sans-serif;
$baseFontWeight: 400;
$boldWeight: 700;
$baseFontSize: 16px;

/*Colors*/
$mainColor: #9ADAF5;
$textColor: #303030;
$accentColor: #FFCF01;

$gutter: 2%;
