/* setting up max-width for desktop */ 

header, nav, main, footer {
    max-width: 75rem;
    margin:auto;
}

/* to create a wrapper, surround each section with a div id="headerWrapper" or similar*/ 


div.card {
    flex-basis: 16%;
}