body {
        max-width: 71.25rem;
        margin: 0 $gutter;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main {
    margin: 0;

    h1 {
        margin: $gutter;
    }
}

div.gallery  figure{
    flex-basis: 21%;
}


/*----------- FOOTER --------------*/
    
