header, nav, main, footer {
        max-width: 71.25rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

main {
    padding: 0;
    min-height: 10rem;
    margin: 0 $gutter;
}

div.gallery  figure{
    flex-basis: 17%;
}


/*----------- FOOTER --------------*/
    
