/*font info*/ 
$fontFamily: 'Nunito', sans-serif;
$baseFontWeight: 400;
$boldWeight: 700;
$baseFontSize: 16px;
$logoSize: 2.5rem;

/*Colors*/
$mainColor: #0380B1;
$accentColor: #FDD831;
$textColor: #303030;
$negativeTextColor: #fff;

$gutter: 2%;
